<div class="shadow-sm p-3 mb-5 bg-white rounded" type="button">
  <div class="row">
    <div class="col-1">
      <p>{{payment.id}}</p>
    </div>
    <div class="col-2">
      <p>{{payment.amount}}</p>
    </div>
    <div class="col-4">
      <p>{{payment.date}}</p>
    </div>
    <div class="col-3">
      <p>{{payment.type}}</p>
    </div>
    <div class="col-1">
      <button class="btn btn-sm btn-rounded btn-outline-black ">View</button>
    </div>
    <div class="col-1 pull-right">
      <i class="fa-solid fa-ellipsis-vertical fa-2x"></i>
    </div>
  </div>
</div>
