<div class="row">
  <div class="card col-6">
    <div class="card-header">Notifications</div>
    <div class="card-body">
      <div class="row">
        <div class="col form-group">
          <label for="send">Send To</label>
          <select id="send" name="send-to" class="form-control">
            <option value="all">All</option>
            <option value="1">1</option>
          </select>
        </div>
      </div>
        <div class="row">
        <div class="col form-group">
          <label for="message">Grade Description</label>
          <textarea id="message" rows="10" class="form-control"></textarea>
        </div>

      </div>
      <div class="row" style="margin-top: 20px;">
        <div class="col">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary"><i class="fa-solid fa-comment-sms"></i> Send</button>
            <button type="button" class="btn btn-danger"><i class="fa-solid fa-ban"></i> Clear</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
